body {
  font-family: 'Noto Sans TC', sans-serif;
}

footer {
  font-family: 'Poppins', sans-serif;
}

nav {
    border-radius: 10px;
    top: 20px;
    position: fixed;
    margin: 0 20px;
    box-shadow: 0px 2px 5px 1px rgba(64,60,67,.16);
}

.bot-title {
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}

.bot-title:hover {
    font-size: 90px;
}